<div class="clock-container">
  <div class="date-display">{{ formattedDate }}</div>
  <div class="clock-info">
    <div class="clock" [class.time-update]="timeAnimating">{{ time }}</div>
    <div class="input-wrapper">
      <input 
        [(ngModel)]="city" 
        placeholder="Enter city" 
        (input)="onCityInput(city)"
        (blur)="hideSuggestions()"
        (focus)="onCityInput(city)"
        autocomplete="off"
      />
      <div class="suggestions-dropdown" *ngIf="showSuggestions">
        <div 
          class="suggestion-item" 
          *ngFor="let suggestion of suggestions"
          (mousedown)="selectCity(suggestion)"
        >
          {{ suggestion }}
        </div>
      </div>
    </div>
    <button (click)="removeClock()">Remove</button>
  </div>
</div>